/* -----------------FIRST PAGE CSS STYLING ----------------*/
/*#main_header {
    width: 100%;
    height: 100vh;
    background-image: url("/Images/background.png");
    background-size: 900px 540px;
    background-repeat: no-repeat;
    background-position: 120% 120%;
}

.container {
    padding: 40px 0.5%;
}

*/

/*-------------- TEXT SLIDER ------------ */
.text_slider {
    width: 100%;
    height: 8vh;
    background-color: #af1212;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.text_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_wrapper h3 {
    position: absolute;
    width: 100%;
    margin: 0;
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    line-height: 8vh;
}

.text_wrapper h3 a {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.text_wrapper h3:nth-child(1) {
    animation: slideInOut 10s infinite;
}

.text_wrapper h3:nth-child(2) {
    animation: slideInOut 10s infinite;
    animation-delay: 5s;
}

@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    15%,
    45% {
        opacity: 1;
        transform: translateX(0);
    }

    55%,
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}



/*----------------- HOME PAGE content ===============*/

.content_container {
    width: 100%;
    height: 100vh;
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-position: 300% 100%;

}

.contents {
    margin: 90px 20px;
    align-items: center;
    justify-content: center;

}

.contents h2 {
    color: black;
    font-size: 45px;
    font-weight: 100;

}

.contents h3 {
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

.contents .shop_now {
    text-decoration: none;
}


.contents .shop_now a {
    font-weight: 500;
    text-decoration: none !important;
    text-align: center;
    color: black;
    padding: 10px 15px 10px 15px;
    background: #E9E9E9;
    font-size: 15px;
    text-align: center;
    border: 1.5px solid #545454;
    border-radius: 40%;
    cursor: pointer;
}

.contents .shop_now:hover {
    border: 1.5px solid black;
    background: #E9E9E9;
    color: black;
    font-weight: 200;
}



/*----------------- SECTION 2 -------------*/
.section-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: montserrat, sans-serif;
    overflow: hidden;
    font-weight: 400;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

/* Left Side Links */
.site_links_label {
    margin-top: 0px;
    margin-bottom: 0px;
}

.links-container {
    width: 200px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

a {
    text-decoration: none;
}

.links-container ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.links-container li {
    display: block;
    font-size: 45px;
    margin: 10px 0;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}

.links-container li span {
    position: relative;
    font-weight: bold;
}

.links-container li span::after {
    content: "";
    position: absolute;
    right: -25px;
    width: 20px;
    height: 20px;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url('data:image/svg+xml,<svg width="20px" height="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.707 9.293l-5-5a.999.999 0 10-1.414 1.414L14.586 9H3a1 1 0 100 2h11.586l-3.293 3.293a.999.999 0 101.414 1.414l5-5a.999.999 0 000-1.414z" fill="%23000000"/></svg>');
}

.links-container li:hover span::after,
.links-container li.active span::after {
    background-image: url('data:image/svg+xml,<svg width="20px" height="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.707 9.293l-5-5a.999.999 0 10-1.414 1.414L14.586 9H3a1 1 0 100 2h11.586l-3.293 3.293a.999.999 0 101.414 1.414l5-5a.999.999 0 000-1.414z" fill="%23af1212"/></svg>');
}

.links-container li:hover {
    color: #af1212;
}

/* Carousel Container */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    width: 80%;
    max-width: 800px;
    height: 80vh;
    position: relative;
}

/* Carousel Images */
.carousel-image {
    position: absolute;
    width: 70%;
    height: 90vh;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
    transform-origin: center;
    object-fit: cover;
}

.carousel-image.active {
    opacity: 1;
    transform: scale(0.8) translateZ(100px);
    z-index: 10;
}

.carousel-image.left {
    opacity: 0;
    transform: scale(0.7) translateX(-200px) rotateY(45deg);
    z-index: 5;
}

.carousel-image.right {
    transform: scale(0.7) translateX(200px) rotateY(-45deg);
    z-index: 5;
}

.carousel-image.left-2 {
    opacity: 0;
    transform: scale(0.6) translateX(-300px) rotateY(60deg);
    z-index: 3;
}

.carousel-image.right-2 {
    transform: scale(0.6) translateX(400px) rotateY(-60deg);
    z-index: 3;
}


/* about us Container */

.about-us h5 {
    padding-left: 70px;
    font-size: 40px;
}

.about-us h6{
    font-size: 30px;
}

.column {
    width: 33.33%;
    float: left;
    padding: 30px;
    justify-content: center;
    perspective: 1000px;
    height: 400px;
    object-fit: scale-down; 
}

.about-us img{
    height: 400px;
    object-fit: cover;
    filter: grayscale(40%);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.hide-1,
.hide-2,
.hide-3{
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.photo-1:hover .hide-1,
.photo-2:hover .hide-2,
.photo-3:hover .hide-3{
    opacity: 1;
}

.photo-1:hover .background-1,
.photo-2:hover .background-2,
.photo-3:hover .background-3{
    filter: blur(4px);
}


.centered {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}