* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    display: flex;
    background-color: #12181b;
    color: white;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Sidebar */
  .sidebar {
    width: 260px;
    background: #0b0f12;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-title {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu a, .bottom-menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu a i, .bottom-menu a i {
    margin-right: 10px;
  }
  
  .menu a:hover, .bottom-menu a:hover {
    background: #1c252b;
    border-radius: 5px;
  }
  